.button-icon {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 3px;
    margin-left: .5em;
    opacity: .8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: transparent;
    border-color: transparent;
    flex: 1;
}

.button-icon:hover {
    background: #f0f0f0;
}

.icon {
    color: #999 !important;
    font-size: 1.5em;
    position: relative;
    top: 0;
}

.buttons-bar {
    display: flex;
}
